html{
    background-color: rgb(41, 108, 184);

}

.main-container{
    display: flex;
}
.main-container img{
  height: 100px;
  width: 200px;
  margin-left: 100px;
}

.main-container input{
    height: 40px;
    width: 800px;
    margin-top: 45px;
    border-radius: 5px;
    margin-left: 200px;
}

.main-container button{
    height: 45px;
    width: 70px;
    margin-top:45px;
}

.main-card--container{
    display: grid;
    grid-template-columns: repeat(3,minmax(300px, 500px));
    grid-gap:50px;
    justify-content: space-around;
}

.card-container{
    margin: 25px auto 0;
    position: relative;
    
}